header {
    display: flex;
    background-color: #212529;
    border-bottom: 10px solid greenyellow;
    padding: 15px;
    justify-content: space-between;
    
}
    nav {
        text-align: right;
    }
a {
    color: white;
    font-size: 15px;
}
#button {
    display: inline-block;
    background-color: green;
    height: 60px;
    line-height: 60px;
    padding-left: 15px;
    padding-right: 15px;
    box-shadow: 5px 5px 0 greenyellow;
    transition: transform 100ms linear;
    
}
    div {
        display: inline-block;
        width: 100%;
        background-color: #232321;
    }
    span {
        display: inline-block;
        background-color:  green;
        width: 10px;
        height: 10px;
        margin-right: 10px;
    }
    h1 {
        color: rgb(255, 255, 255);
        font-family: 'Press Start 2P',sans-serif;
        font-size: 30px;
        text-shadow: 3px 3px 0 green;     
    }
    #button:hover {
        transform: scale(1.08);
        animation: ease;
    }
