.banner {
    background-image: url(../assets/img/Fundogif.webp);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 900px; 
    border-bottom: 10px solid greenyellow;
    padding-top: 115px;
    padding-left: 100px;
}
   .banner .wrapper {
 
    flex-direction: column;
    width: 630px;
    
}
.banner .box {
    margin-bottom: 40px;
}
.banner .navigation {
    display: flex;
    justify-content: center;
}
