#button {
    display: inline-block;
    background-color: green;
    height: 60px;
    line-height: 60px;
    padding-left: 15px;
    padding-right: 15px;
    box-shadow: 5px 5px 0 greenyellow;
    transition: transform 100ms linear;
}
#button:hover {
    transform: scale(1.08);
    animation: ease;
}