.skill-title {
    color: rgb(255, 255, 255);
    font-family: 'Press Start 2P',sans-serif;
    font-size: 20px;
    text-shadow: 3px 3px 0 green;     
}
.skill-title.-second {
    text-shadow: none;
    text-align: center;
    font-size: 40px;
}